@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap");

.Container {
  background-color: white;
  transition: 0.2s ease all;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 16px;
}

.Top {
  padding: 24px;
}

.Header {
  color: hsl(225, 20%, 60%);
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 36px;
  margin-top: 24px;
}

.Header span:nth-child(1) {
  letter-spacing: 0.2rem;
  align-self: flex-end;
}

.PriceContainer span:nth-child(1),
.MobilePriceContainer span:nth-child(1) {
  letter-spacing: normal;
  color: hsl(227, 35%, 25%);
  font-size: 42px;
}

.PriceContainer span:nth-child(2),
.MobilePriceContainer span:nth-child(2) {
  color: hsl(225, 20%, 60%);
  text-transform: lowercase;
  padding-bottom: 60px;
  font-weight: 600;
}

hr {
  margin-top: 30px;
  margin-bottom: 5px;
  border: 1px solid hsla(225, 20%, 60%, 0.11);
}

.Bottom {
  padding: 0 24px;
  color: hsl(225, 20%, 60%);
  font-size: 15px;
  font-weight: 600;
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.Bottom ul {
  padding: 12px 24px;
  list-style-type: none;
  list-style: none;
}

.Bottom li {
  height: 30px;
}

.TrialBtn {
  align-self: center;
  text-align: center;
  height: 45px;
  width: 200px;
  border-radius: 25px;
  border: none;
  background-color: hsl(227, 35%, 25%);
  color: hsl(226, 100%, 87%);
  letter-spacing: 0.05em;
  outline: none;
  cursor: pointer;
}

.TrialBtn:hover {
  transition: 0.3s ease all;
  color: white;
}

.Bottom span {
  padding-left: 6px;
}

.MobilePriceContainer {
  display: none;
  font-weight: 800;
  margin: 25px 0;
}

@media screen and (min-width: 720px) {
  .Container {
    min-width: 700px;
  }
}

@media screen and (max-width: 720px) {
  .Container {
    width: 90%;
  }
  hr {
    margin-top: 0px;
  }
  .Header {
    justify-content: center;
  }
  .Bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .TrialBtn {
    margin-bottom: 25px;
  }
  p {
    font-size: 15px;
  }
  .PriceContainer {
    display: none;
  }
  .MobilePriceContainer {
    display: block;
  }
}
